header{
    position:fixed;
    background: rgb(255, 255, 255);
    width:100%;
    height:auto;
    padding:1em 0 .3em 0;
    z-index:10;
    box-shadow: 0 1px 5px lighten($typo-color-light,40%);
        #header-wrap{
            position:relative;
            display:flex;
            justify-content:space-between;
            .header-arrow{
                font-size:$small-titles;
                align-self: center;
                padding: 0 1em 0 1em;
                position:absolute;
                transform: translateY(10px);
            }
            #logo{
                font-family:$typo-title;
                font-size:2em;
                margin:auto;
            }
        }
}

#header-arrow{
    position:absolute;
    z-index:2;
    top:.4em;
    left:3em;
    display:flex;
    justify-content:center;
    align-items:center;
    text-decoration:none;
    color:$typo-color;
    background:$bg-color;
    border-radius:100%;
    width:2em;
    height:2em;
    @include transition-settings;
    @media (max-width:330px){
        left:.5em;
    }
        &:hover{
            transform: scale(1.2);
        }
}
.header-arrow-icon{
    margin:auto;
    font-size:$titles;
}

footer{
    background:darken($typo-color-light, 5%);
    z-index:100;
   }

    #logo-footer{
        font-family:$typo-title;
                    font-size:$small-titles;
                    margin-bottom:1em;
                        @media (min-width:1000px) {
                            font-size:$big-titles;
                            margin:0;
                        }
                            &:hover{
                                cursor:pointer;
                            }
    }

    .footer-content{
        margin:0;
        padding:2em;
        color:$bg-color;
                @media (min-width:1000px) {
                    display:flex;
                    justify-content: space-between;
                    align-items: center;
                    width:100%;
                    max-width:900px;
                    height:150px;
                }
            p{
                margin:0;

            }
            a{
                margin-bottom:.5em;
                text-decoration: none;
                color:$bg-color;
                        @media (min-width:1000px) {
                            margin-top:1em;
                        }
            }
            &__link{
                display:flex;
                font-weight: $medium-bold;
            }
            &__icon{
                width:1.2em;
                margin:auto .5em auto 0;
            }
    }

    #icon-rotate{
        transform: rotate(-30deg);
    }

    .cta{
        margin:auto;
        font-size:$small;
        font-weight:$medium-bold;
        font-family: 'Roboto', sans-serif;
        color:white;
        text-decoration: none;
        text-align:center;
        background:$gradient-cta;
        padding:1.1em;
        border-radius: 2em;
        border:none;
        justify-self: center;
        position:relative;
        overflow:hidden;
         &:hover{
            cursor:pointer;
             &::after{
                 transform:translate(-50%, -50%) scale(8);
                 opacity:.5;
             }
         }
        &::after{
            content:"";
            border-radius: 2em;
            margin:auto;
            background:rgb(200, 159, 255);
            mix-blend-mode: lighten;
            border-radius:100%;
            transform-origin: center;
            position:absolute;
            top:50%;
            left:50%;
            transform:translate(-50%, -50%) scale(0);
            opacity:0;
            height:30px;
            width:30px;
            z-index:3;
            transition:all .4s cubic-bezier(.33,.01,.95,.27);
        }
    }
 

    @keyframes anim-like{
        0%{
            transform:scale(0);
        }
        100%{
            transform:scale(1.5);
        }
    }
    

    .heart-icon-wrap{
        margin:auto 2em auto auto;
        border-radius:100%;
        display:flex;
        background:transparent;
        @include transition-settings;
                &:hover .like-icon__first-color{
                    animation: anim-like .4s ease-in-out forwards;
                }
                &:hover .like-icon__gradient{
                    animation: anim-like .5s ease-in-out .2s forwards;
                }
                &:hover .like-icon__wrap{
                    filter: drop-shadow(0 0 10px $bg-color);
                }
                &:hover{
                    cursor:pointer;
                    transform: scale(1.2);
                }
                &:active .like-icon__first-color{
                    animation: anim-like .4s ease-in-out forwards;
                }
                &:active .like-icon__gradient{
                    animation: anim-like .5s ease-in-out .2s forwards;
                }
                &:active .like-icon__wrap{
                    filter: drop-shadow(0 0 10px $bg-color);
                }
                &:active{
                    cursor:pointer;
                    transform: scale(1.2);
                }
    }

    .like-icon{
        &__wrap{
            margin:auto;
            position:relative;
            width:50px;
            height:50px;
            filter: drop-shadow(0 0 5px rgb(185, 185, 185));
            overflow:hidden;
            transition:all ease-in-out .2s;
        }
        &__clip{
            position:absolute;
            width:52px;
            height:50px;
            background:#fff;
            clip-path: path('M 26 9.77 C 35.48 -10.59 60.1 8.86 47.43 26.48 C 43.69 31.15 39.72 35.56 35.84 40.09 C 32.97 43.43 30.07 46.73 27.25 50.09 C 26.37 51.15 25.79 51.32 24.81 50.17 C 18.17 42.38 11.4 34.73 4.81 26.88 C -8.42 9.38 16.14 -11 26 9.77 Z');
            transform: scale(.5);
            overflow:hidden;
            transition:all ease-in-out .5s;
        }
        &__first-color{
            position:absolute;
            width:50px;
            height:50px;
            background:#ff79da;
            overflow:hidden;
            clip-path: path('M 25 8.77 C 34.48 -11.59 59.1 7.86 46.43 25.48 C 42.69 30.15 38.72 34.56 34.84 39.09 C 31.97 42.43 29.07 45.73 26.25 49.09 C 25.37 50.15 24.79 50.32 23.81 49.17 C 17.17 41.38 10.4 33.73 3.81 25.88 C -9.42 8.38 15.14 -12 25 8.77 Z');
            display:flex;
            transform: scale(0);
            transform-origin: center;
            transition:.5s ease-in-out;
        }
        &__gradient{
            width:100%;
            height:100%;
            margin:auto;
            border-radius: 50%;
            background:linear-gradient(#ff79da, #9356dc);
            overflow:hidden;
            transform: scale(0);
            transition:.5s ease-in-out;
        }
    }
    
    $anim-dur:1100ms;
    $num-characters:8;
    $anim-delay: $anim-dur / $num-characters;

    .loader-type{
        &__wrap{
            display:flex;
            align-items:center;
            justify-content: center;
            width:100vw;
            height:100vh;
            position: fixed;
            top:0;
            left:0;
            z-index:999;
            background: $bg-color;
            animation:display-loader 3000ms forwards;
        }
        &__character{
            font-family: 'Shrikhand';
            text-align: center;
            font-size:5em;
            transition:all .5s;
            color:$contrast-color;
            animation: anim-loader $anim-dur both 3 alternate;
                @for $i from 1 through $num-characters {
                    &--#{$i} {
                        animation-delay: $anim-delay * $i;
                    }
                }
            @media (max-width:800px){
                font-size:3em;
            }
        }

    }
    @keyframes anim-loader{
        0%{
            transform: scaleY(.5); 
            color:$contrast-color;
        }
        100%{
            transform: scaleY(1);
            color:$cta-color;
        }
    }
    
    @keyframes display-loader{
        0%{
            opacity:1;
            width:100vw;
        }
        80%{
            opacity:1;
            width:100vw;
        }
        90%{
            opacity:0;
            width:100vw;
        }
        100%{
            opacity:0;
            width:0;
        }
    }
    