header{
    position:fixed;
    background: rgb(255, 255, 255);
    width:100%;
    height:auto;
    padding:1em 0 .3em 0;
    z-index:10;
    box-shadow: 0 1px 5px lighten($typo-color-light,40%);
        #header-wrap{
            position:relative;
            display:flex;
            justify-content:space-between;
            .header-arrow{
                font-size:$small-titles;
                align-self: center;
                padding: 0 1em 0 1em;
                position:absolute;
                transform: translateY(10px);
            }
            #logo{
                font-family:$typo-title;
                font-size:2em;
                margin:auto;
            }
        }
}

#header-arrow{
    position:absolute;
    z-index:2;
    top:.4em;
    left:3em;
    display:flex;
    justify-content:center;
    align-items:center;
    text-decoration:none;
    color:$typo-color;
    background:$bg-color;
    border-radius:100%;
    width:2em;
    height:2em;
    @include transition-settings;
    @media (max-width:330px){
        left:.5em;
    }
        &:hover{
            transform: scale(1.2);
        }
}
.header-arrow-icon{
    margin:auto;
    font-size:$titles;
}

footer{
    background:darken($typo-color-light, 5%);
    z-index:100;
   }

    #logo-footer{
        font-family:$typo-title;
                    font-size:$small-titles;
                    margin-bottom:1em;
                        @media (min-width:1000px) {
                            font-size:$big-titles;
                            margin:0;
                        }
                            &:hover{
                                cursor:pointer;
                            }
    }

    .footer-content{
        margin:0;
        padding:2em;
        color:$bg-color;
                @media (min-width:1000px) {
                    display:flex;
                    justify-content: space-between;
                    align-items: center;
                    width:100%;
                    max-width:900px;
                    height:150px;
                }
            p{
                margin:0;

            }
            a{
                margin-bottom:.5em;
                text-decoration: none;
                color:$bg-color;
                        @media (min-width:1000px) {
                            margin-top:1em;
                        }
            }
            &__link{
                display:flex;
                font-weight: $medium-bold;
            }
            &__icon{
                width:1.2em;
                margin:auto .5em auto 0;
            }
    }

    #icon-rotate{
        transform: rotate(-30deg);
    }

    .cta{
        margin:auto;
        font-size:$small;
        font-weight:$medium-bold;
        font-family: 'Roboto', sans-serif;
        color:white;
        text-decoration: none;
        text-align:center;
        background:$gradient-cta;
        padding:1.1em;
        border-radius: 2em;
        border:none;
        justify-self: center;
        position:relative;
        overflow:hidden;
         &:hover{
            cursor:pointer;
             &::after{
                 transform:translate(-50%, -50%) scale(8);
                 opacity:.5;
             }
         }
        &::after{
            content:"";
            border-radius: 2em;
            margin:auto;
            background:rgb(200, 159, 255);
            mix-blend-mode: lighten;
            border-radius:100%;
            transform-origin: center;
            position:absolute;
            top:50%;
            left:50%;
            transform:translate(-50%, -50%) scale(0);
            opacity:0;
            height:30px;
            width:30px;
            z-index:3;
            transition:all .4s cubic-bezier(.33,.01,.95,.27);
        }
    }
 

    @keyframes anim-like{
        0%{
            transform:scale(0);
        }
        100%{
            transform:scale(1.5);
        }
    }
    

    .heart-icon-wrap{
        margin:auto 1em auto 1em;
        border-radius:100%;
        display:flex;
        background:transparent;
        @include transition-settings;
    }

    .heart-icon{
        &__wrap{
            position:relative;
            font-size:1.8em;
            text-align:center;
            color:rgb(255, 255, 255);
            -webkit-text-stroke: 1px rgb(0, 0, 0);
            transform: scale(.9, 1);
            @include transition-settings;
                &:hover{
                    -webkit-text-stroke: 1px rgba(0, 0, 0, 0)
                }
                &:hover .heart-icon__inside--one{
                    transform: scale(1);
                }
                &:hover .heart-icon__inside--two{
                    transform: scale(1.15);
                }
                &:focus{
                    -webkit-text-stroke: 1px rgba(0, 0, 0, 0)
                }
                &:focus .heart-icon__inside--one{
                    transform: scale(1);
                }
                &:focus .heart-icon__inside--two{
                    transform: scale(1.15);
                }
        }
    
        &__inside--one{
            position:absolute;
            color:$cta-color-light;
            -webkit-text-stroke: $cta-color-light;
            top:0;
            left:0;
            right:0;
            bottom:0;
            opacity: 1;
            transform: scale(0);
            @include transition-settings;
        }
        &__inside--two{
            position:absolute;
            color:$cta-color;
            -webkit-text-stroke: 1px rgba(0, 0, 0, 0);
            top:0;
            left:0;
            right:0;
            bottom:0;
            opacity: 1;
            transform: scale(0);
            transition:all .3s ease-in-out .2s;
        }
}
    
    $anim-dur:1100ms;
    $num-characters:8;
    $anim-delay: $anim-dur / $num-characters;

    .loader-type{
        &__wrap{
            display:flex;
            align-items:center;
            justify-content: center;
            width:100vw;
            height:100vh;
            position: fixed;
            top:0;
            left:0;
            z-index:999;
            background: $bg-color;
            animation:display-loader 3000ms forwards;
        }
        &__character{
            font-family: 'Shrikhand';
            text-align: center;
            font-size:5em;
            transition:all .5s;
            color:$contrast-color;
            animation: anim-loader $anim-dur both 3 alternate;
                @for $i from 1 through $num-characters {
                    &--#{$i} {
                        animation-delay: $anim-delay * $i;
                    }
                }
            @media (max-width:800px){
                font-size:3em;
            }
        }

    }
    @keyframes anim-loader{
        0%{
            transform: scaleY(.5); 
            color:$contrast-color;
        }
        100%{
            transform: scaleY(1);
            color:$cta-color;
        }
    }
    
    @keyframes display-loader{
        0%{
            opacity:1;
            width:100vw;
        }
        80%{
            opacity:1;
            width:100vw;
        }
        90%{
            opacity:0;
            width:100vw;
        }
        100%{
            opacity:0;
            width:0;
        }
    }
    