@import '_utils.scss';
@import '_base.scss';
@import '_layout.scss';

///////////////////////////////////////////////règleRestaurant

main{
    background:$bg-color;
}


#bg-img-head-wrap{
    width:100%;
    height:100%;
    min-height:300px;
    background-image: url(/ressources/images/restaurants/a-la-francaise_toa-heftiba-DQKerTsQwi0-unsplash.jpg);
    background-size:contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin:0;
    @include head-img-desktop-settings;
        @media (min-width:1000px){
            height: 70vh; 
            background-position: bottom;
        }
}

#menu{
    position:relative;
    top:-7em;
    width:100%;
    border-top-left-radius: 1.5em;
    border-top-right-radius: 1.5em;
    background:$bg-color;
}

#menu-wrap{
    padding:1.5em;
}

.menu{
    &__section-title{
        font-size:1.2em;
        font-weight:300;
        margin-bottom:0.2em;
    }
    &__underline-stroke{
        height:3px;
        width:3em;
        background:$contrast-color;
    }
}

#like-restaurant{
    margin:0;
}

.heading-wrap{
    display:flex;
    justify-content: space-between;
}

h1{
    font-family:'Shrikhand';
    font-size:1.8em;
    color:$typo-color;
    margin:0;
}

@keyframes display-motion{
    0%{
        transform: translateY(1em);
        opacity:0;
    }
    100%{
        transform: translateY(0);
        opacity:1;
    }
}


.meal{
    @include box-shadow-settings;
    display:flex;
    justify-content: space-between;
    max-width:100%;
    height:100%;
    background: white;
    border-radius:1em;
    margin:1em 0 1em 0;
    padding:1em 0 1em 1em;
    overflow: hidden;
    opacity:0;
    animation: display-motion 1000ms ease-in-out .3s forwards;
        &:hover .meal__bloc-valid{
            margin-right:0;
            transform: translateX(0);
        }
        &:hover .meal__circle-icon{
            transform: rotate(360deg) scale(1.2);
        }
        &__heading{
            flex:1;
            align-self: flex-end;
            display:block;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow:hidden;
            margin: 0;
        }
        &__name{
            display:block;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow:hidden;
            margin: 0;
        }
        &__descr{
            margin:auto 0 auto 0;
            display:block;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow:hidden;
        }
        &__price{
            font-weight:900;
            text-align:right;
            justify-content:flex-end;
            align-self: flex-end;
            padding-left: .5em;
            margin-right:1em;
        }
        &__bloc-valid{
            background:$contrast-color;
            margin:-1em 0 -1em 0;
            margin-right:-4.5em;
            transform: translateX(2em);
            justify-self: flex-end;
            display:flex;
            justify-content:center;
            align-items: center;
            transition:all .5s ease-in-out;
        }
        &__circle-icon{
            width:3em;
            text-align: center;
            font-size:1.5em;
            color: #fff;
            transition:all .5s ease-in-out;
        }

}