$typo-title:'Shrikhand';

body, html{
    margin:0;
    padding:0;
}

html{
    font-family: 'Roboto', sans-serif;
}

header{
    background: red;
    width:100%;
    height:auto;
    padding:1.5em 0 .5em 0;
        #header-wrap{
            display:flex;
            justify-content:space-between;
            #logo{
                font-family:$typo-title;
                font-size:2em;
                margin:auto;
            }
        }
}