@import '_utils.scss';
@import '_base.scss';
@import '_layout.scss';

///////////////////////////////////////////////règleHome

    h2{
        font-weight:900;
    }

    main{
        width:100%;
        height:auto;
    }
    #bloc-geoloc{
        display:flex;
        background:$head-info-color;
        width:100%;
    }
    #geoloc-wrap{
        display:flex;
        justify-content: center;
        align-items: center;
        width:100%;
        color:darken($typo-color-light, 5%);
            .geoloc__icon{
                font-size:1em;
                margin:0 .5em 0 0;
            }
            p{
                font-size:1em;
                font-weight:700;
                letter-spacing: -1px;
            }
    }

   #bloc-exploration{
       display: flex;
       min-height: 300px;
       background: $bg-color;
       @include head-img-desktop-settings;
            @media (min-width:1000px){
                background-image: url('ressources/images/restaurants/la-palette-du-gout_jay-wennington-N_Y88TWmGwA-unsplash.jpg');
                background-color: lighten($typo-color-light,10%);
                background-blend-mode: lighten;
                background-attachment: fixed;
            }
            @media (min-width:1000px) and (max-width:1200px){
                height: 50vh;   
            }
            @media (min-width:1200px){
                height: 90vh;   
            }
            #explo-wrap{
                display: flex;
                justify-content: center;
                flex-direction: column;
                margin:$margin-doc-dimensions;
                    @media (min-width:1000px) {
                        grid-column: 8/12;
                        grid-row: 3/4;
                        background:$bg-color;
                        border-radius:1.5em;
                        padding:2em;
                    }
                    @media (max-width:999px) {
                        margin:auto;
                    }
                h1{
                    margin-top: 0;
                    font-size:1.6em;
                    font-weight:900;
                    text-align:center;
                        @media (min-width:1000px) {
                            text-align:left;
                        }
                }
                p{
                    margin-top: 0;
                    font-size:1.2em;
                    font-weight:300;
                    text-align:center;
                        @media (min-width:1000px) {
                            text-align:left;
                        }
                }
                a{
                    text-align: center;
                        @media (min-width:1000px) {
                            text-align:left;
                        }
                }
                br{
                    @media (min-width:1000px) {
                        display:none;
                    }
                }
            }
           
   }

   #section-tuto{
       margin-top:4em;
       margin-bottom:4em;
            @media (min-width:1000px){
                background: #fff;
                background-size: 6px 6px;
                background-position: 50px 50px;
                margin:auto;
                display:flex;
                flex-direction: column;
            }
            @media (min-width:1000px) and (max-width:1200px){
                height: 50vh;   
            }
            @media (min-width:1200px){
                height: 70vh;   
            }
            #tuto-wrap{
                margin:$margin-doc-dimensions;
                display:flex;
                flex-direction: column;
                        @media (min-width:500px) and (max-width:999px) {
                            width:80%;
                            max-width:500px;
                            margin:auto;
                        }
                        @media (min-width:1000px) {
                            width:80%;
                            max-width:1000px;
                            margin:auto;
                        }
            }
   }

   #tuto-articles-wrap{
       display:flex;
       justify-content: center;
       flex-direction: column;
            @media (min-width:1000px){
                flex-direction: row;
                justify-content: space-between;
                margin-top:2em;
            }
        .tuto-article{
            display:flex;
            background:$bg-color;
            border-radius:1em;
            @include box-shadow-settings;
            margin:1em 0 1em 0;
            padding:.5em 0 .5em 0;
            @include transition-settings;
            @media (min-width:1000px){
                background:$cta-color;
                &:hover .tuto-article__number{
                    transform-origin: center;
                    transform: translateX(0) translateY(-55px) scale(1.5);
                } 
            }         
                &__link{
                    display:flex;
                    text-decoration: none;
                    color:$typo-color;
                            @media (min-width:1000px){
                                color:$bg-color;
                                flex-direction: column;
                                justify-content: center;
                                padding:2em;
                                    &:hover{
                                        color:$typo-color-light;
                                    }
                            }
                        p{
                            font-weight:700;
                        }
                }
                &__typo-wrap{
                    display:flex;
                    align-content: center;
                }
                &__icon{
                    font-size: 1.2em;
                    margin:auto 1em auto .5em;
                    color:$typo-color-light;
                            @media (min-width:1000px){
                                color:$bg-color;
                                margin:0 auto 0 auto;
                                font-size:1.5em;
                            }
                }
                &__number{
                    display:flex;
                    margin:auto;
                    border-radius:100%;
                    width:1.5em;
                    height:1.5em;
                    background:$cta-color;
                    transform: translateX(-12px);
                    @include transition-settings;
                            @media (min-width:1000px){
                                transform: translateX(0) translateY(-50px) scale(1.2);
                                background:$typo-color-light;
                            }
                        p{
                            color:white;
                            margin:auto;
                            font-weight:400;
                        }
                }
                &:hover{
                    background: lighten($cta-color, 35%);
                }
                &:hover .tuto-article__icon{
                   color: $cta-color;
                }
                
        }
   }

   #section-restaurant{
       background:$bg-color;
       width:100%;
       height:auto;
            @media (min-width:1000px) {
                background:$bg-color;
            }
        #restaurant-wrap{
            display:flex;
            flex-direction: column;
            margin: $margin-doc-dimensions;
                    @media (min-width:500px) and (max-width:999px) {
                        width:80%;
                        max-width:500px;
                        margin:auto;
                    }
                    @media (min-width:1000px) {
                        width:80%;
                        margin:auto;
                    }
        }
   }

   #restaurant-articles-wrap{
       width:100%;
        @media (min-width:1200px) {
            display:flex;
            flex-direction:row;
            justify-content: space-between;
            margin:auto auto 4em auto;
        }
        @media (min-width:500px) and (max-width:1200px){
            display:flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            margin:auto;
        }
   }

   .restaurant-article{
       width:100%;
       max-width:300px;
       margin:auto;
       margin-bottom:2em;
       border-radius:1.5em;
       background: #fff;
       @include box-shadow-settings;
       overflow: hidden;
       @include transition-settings; 
            &:hover{
                transform: scale(1.05);
            }
            &:hover .restaurant-article__bg-icon{
                transform: scale(1);
            }
            @media (min-width:1000px){
                margin:1em;
            }
        &__link{
            text-decoration:none;
            color:$typo-color;
            position:relative;
        }
        &__img{
            width:100%;
            height:170px;
            object-fit: cover;
        }
        &__typo-wrap{
            display:flex;
        }
        &__typo-link{
            margin:1em;
            flex:2;
                h3, p{
                    margin:0;
                }
        }
        
        &__new{
            font-size:.9em;
            font-weight:700;
            background: $contrast-color;
            color:darken($contrast-color, 40%);
            padding:.5em;
            border-radius: .2em;
            position:absolute;
            right:1em;
        }
   }


