$typo-title:'Shrikhand';
$margin-doc-dimensions:0 2em 0 2em;

body, html{
    margin:0;
    padding:0;
}

html{
    font-family: 'Roboto', sans-serif;
}

h2{
    font-weight:900;
}

header{
    background: rgb(255, 255, 255);
    width:100%;
    height:auto;
    padding:1em 0 .3em 0;
        #header-wrap{
            display:flex;
            justify-content:space-between;
            .header-arrow{
                font-size:1.5em;
                align-self: center;
                padding: 0 1em 0 1em;
                position:absolute;
                display:none;
            }
            #logo{
                font-family:$typo-title;
                font-size:2em;
                margin:auto;
            }
        }
}

    main{
        width:100%;
        height:auto;
    }
    #bloc-geoloc{
        display:flex;
        background:rgb(187, 187, 187);
        width:100%;
    }
    #geoloc-wrap{
        display:flex;
        justify-content: center;
        align-items: center;
        width:100%;
            .geoloc__icon{
                font-size:1.2em;
                margin:0 .5em 0 0;
            }
            p{
                font-size:1.2em;
                font-weight:700;
                letter-spacing: -1px;
            }
    }

   #bloc-exploration{
       display:flex;
       min-height:300px;
       background:rgb(216, 216, 216);
            #explo-wrap{
                display: flex;
                justify-content: center;
                flex-direction: column;
                margin:$margin-doc-dimensions;
                h1{
                    margin-top: 0;
                    font-size:1.6em;
                    font-weight:900;
                    text-align:center;
                }
                p{
                    margin-top: 0;
                    font-size:1em;
                    font-weight:300;
                    text-align:center;
                }
                a{
                    text-align: center;
                }
            }
           
   }

   #section-tuto{
       margin-top:4em;
       margin-bottom:4em;
       background:blue;
            #tuto-wrap{
                margin:$margin-doc-dimensions;
                display:flex;
                flex-direction: column;
            }
   }

   #tuto-articles-wrap{
       display:flex;
       justify-content: center;
       flex-direction: column;
        .tuto-article{
            display:flex;
            background:rgb(201, 233, 170);
            border-radius:1em;
            box-shadow: 2px 2px 5px grey;
            margin:1em 0 1em 0;
            padding:.5em 0 .5em 0;
                &__link{
                    display:flex;
                    text-decoration: none;
                    color:black;
                        p{
                            font-weight:700;
                        }
                }
                &__typo-wrap{
                    display:flex;
                    align-content: center;
                }
                &__icon{
                    font-size: 1.4em;
                    margin:auto 1em auto .5em;
                }
                &__number{
                    display:flex;
                    margin:auto;
                    border-radius:100%;
                    width:1.5em;
                    height:1.5em;
                    background:red;
                    transform: translateX(-12px);
                        p{
                            color:white;
                            margin:auto;
                            font-weight:400;
                        }
                }
                
        }
   }

   #section-restaurant{
       background:yellow;
       width:100%;
       height:auto;
        #restaurant-wrap{
            display:flex;
            flex-direction: column;
            margin:$margin-doc-dimensions;
        }
   }

   #restaurant-article-wrap{
       width:100%;
   }

   .restaurant-article{
       width:100%;
       margin-bottom:2em;
       border-top-right-radius: 1.5em;
       border-top-left-radius: 1.5em;
       background: #fff;
       overflow: hidden;
        &__link{
            text-decoration:none;
            color:black;
        }
        &__img{
            width:100%;
            max-height:170px;
            object-fit: cover;
        }
        &__typo-wrap{
            display:flex;
        }
        &__typo-link{
            margin:1em;
            flex:2;
                h3, p{
                    margin:0;
                }
        }
        &__icon{
            flex:1;
            text-align: center;
            align-self: center;
            font-size:1.5em;
            background:red;
        }
   }

    #logo-footer{
        font-family:$typo-title;
                    font-size:1.2em;
                    margin-bottom:1em;
    }

    .footer-content{
        margin:1em;
            p{
                margin:0;

            }
            a{
                margin-bottom:.5em;
                text-decoration: none;
                color:black;
            }
            &__link{
                display:flex;
                font-weight: 700;
            }
            &__icon{
                margin:auto .5em auto 0;
            }
    }

   button{
       font-size:1em;
       font-weight:700;
       color:white;
       background:blue;
       padding:1.1em;
       border-radius: 2em;
       border:none;
   }